<article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
  <div class="post-block">
    <div class="media-wrapper">
      <img class="img-fluid lozad" data-src="{{ .Params.Image_webp | absURL }}" onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'">
    </div>

    <div class="content">
      <h3><a href="#">{{ .Title }}</a></h3>
      <p>{{ .Summary }}</p>
      {{if .Params.Video1 }}
          <a class="btn btn-main" target="_blank" href="{{ .Params.Video1 }}">{{ i18n "video1" }}</a>
      {{end}}
      {{if .Params.Video2 }}
          <a class="btn btn-main" target="_blank" href="{{ .Params.Video2 }}">{{ i18n "video2" }}</a>
      {{end}}
      {{if .Params.Slide1 }}
          <a class="btn btn-main" target="_blank" href="{{ .Params.Slide1 }}">{{ i18n "slide1" }}</a>
      {{end}}
      {{if .Params.Slide2 }}
          <a class="btn btn-main" target="_blank" href="{{ .Params.Slide2 }}">{{ i18n "slide2" }}</a>
      {{end}}
    </div>
  </div>
</article>
